.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 20rem;
}

.form-container form input {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 4px;
}

.form-container form button {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.form-container form button:hover {
    background-color: white;
    color: var(--accent-color);
}